<ul>
  <li class="icon">
    <%= image_tag 'ct-inverted-logo.png'%>
  </li>
  <li>
    <%= link_to "Home", home_path %>
  </li>
  <li>
    <%= link_to "Blog", root_path %>
  </li>
  <li>
    <%= link_to "Search", search_path %>
  </li>
  <li>
    <%= link_to "Contact Me", contact_details_path %>
  </li>
</ul>