<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Caffeinated Tech</title>
    <link rel="stylesheet" href="style.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 
          media: 'all', 
          'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
          'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
      <div class="menu-button">
        Menu
      </div>
      <div class="scrollable">
        <%= yield %>          
      </div>
    </div>
    <div id="menu">
      <%= render partial: 'menu/menu' %>      
    </div>
  </body>
</html>
